
/*// Medium devices (tablets, 768px and up)*/
@media (max-width: 992px) {
	.navbar-light .navbar-toggler{
		background: #fff;
	}
	.banner{
		min-height: 100vh;
		padding: 100px 0;
	}
	.contentBox h1,
	.sec2 h2{
		font-size: 32px;
	}
	.contentBox p,
	.sec2 p{
		font-size: 16px;
	}
	.navbar-expand-lg .navbar-nav .nav-link{
		padding-right: 1rem;
		padding-left: 1rem;
	}
	.sec1{
		padding: 20px 0;
	}
	.headerText h2{
		font-size: 2rem;	
	}
	.blog{
		padding: 100px 0;
	}
	.blogpost .imgbx{
		height: 200px;
	}
	.contact{
		padding: 100px 0;
	}
	.contact .form-control{
		height: 20px;
		border-bottom: 2px solid #fff;
	}
	.btnD1{
		padding: 10px 40px;
		margin-top: 10px;
	}
	footer{
		padding: 0 0 20px;
		background: #000;
	}
	.sci li{
		list-style: none;
		margin: 0 10px;
	}
	.sci li a{
		font-size: 24px;
		color: #777;
		transition: 0.5s;
	}
	.sec2{
		min-height: auto;
		padding: 40px 0;
	}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	.navbar-expand-lg .navbar-nav .nav-link{
		padding-right: 1rem;
		padding-left: 1rem;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}